webfrontend:
    build: ./nodejs
    #image: iojs-dev
    links:
        - db
    ports:
        - "0.0.0.0:8080:8080"
    volumes:
        - /srv/source:/src
        - /logs:/logs
db:
    image: mariadb
    environment:
        MYSQL_ROOT_PASSWORD: 12345
