[Unit]
Description=io.js
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill iojs-dev
ExecStartPre=-/usr/bin/docker rm iojs-dev
ExecStartPre=/usr/bin/docker pull kommunalcrowd/iojs-dev:0.2
ExecStart=/usr/bin/docker run -d -t -p 1337:1337 -v /srv/source:/src --name="iojs-dev" kommunalcrowd/iojs-dev:0.2

[Install]
WantedBy=multi-user.target
